.button1 {
	background-color: transparent;
	border: solid 1px black;
	padding: 0.5rem;
	border-radius: 1rem;
	transition: 0.25s;
}

.button1:hover {
	background-color: black;
	color: white;
	cursor: pointer;
}