@import "./table.css";
@import "./button2.css";
@import "./a.css";
@import "./hover.css";

body {
	margin: 0;
}

body > * {
	margin: 0 auto;
	padding: 0 5rem;
	max-width: 80rem;
}

/* #region navbar */

header {
	z-index: -1;
	margin: 0;
	padding: 0;
	max-width: 100vw;
	height: 113px;
	display: flex;
	justify-content: center;
	background-color: #fcf3ed;
}

nav {
	margin: 0 auto;
	padding: 0 5rem;
	max-width: 80rem;
	flex: 1;
	display: flex;
	justify-content: center;
	align-items: center;
}

nav div {
	display: flex;
}

nav div:first-child {
	margin-right: auto;
}

nav div:last-child {
	margin-left: auto;
}

input[type="checkbox"] {
	visibility: hidden;
}

/* .toggle {
	position: absolute;
	top: 0;
	left: 0;
} */

label {
	border: 1px solid black;
	border-radius: 1.5rem;
	padding: 0.45rem;
	margin: 0.5rem;
	transition: 0.25s;
}

label:hover {
	background-color: black;
	color: white;
}

label::after {
	font-size: 1.5rem;
	content: "+"
}

/* label input:checked label {
	background-color: black;
} */

input[type="text"] {
	border: none;
	border-radius: 2px;
	padding: 0.75rem;
	margin-right: 0.5rem;
}

input[type="submit"] {
	border: none;
	border-radius: 2px;
	background-color: black;
	color: white;
	padding: 0.75rem;
}

/* #endregion */

#article-body {
	display: flex;
	padding: 3% 0;
}

a {
	color: black;
	transition: 0.25s;
}

a:hover {
	color: #e90606;
}

a img {
	width: 25px;
	height: 25px;
}

#thumbnail img {
	min-width: 848px;
	max-height: 565px;
}