body {
	margin: 0;
}

body > * {
	margin: 0 auto;
	padding: 0 5rem;
	max-width: 80rem;
}

/* #region navbar */

header {
	z-index: -1;
	margin: 0;
	padding: 0;
	max-width: 100vw;
	height: 113px;
	display: flex;
	justify-content: center;
	background-color: #fcf3ed;
}

nav {
	margin: 0 auto;
	padding: 0 5rem;
	max-width: 80rem;
	flex: 1;
	display: flex;
	justify-content: center;
	align-items: center;
}

nav div {
	display: flex;
}

nav div:first-child {
	margin-right: auto;
}

nav div:last-child {
	margin-left: auto;
}

/* #endregion */

#article-body {
	display: flex;
	padding: 3% 0;
}

#article-body div:first-child {
}

#thumbnail img {
	min-width: 848px;
	max-height: 565px;
}

th {
	border-left: solid 1px lightgray;
	text-align: left;
	padding: 1rem;
}