main header {
	display: flex;
}

main > * {
	margin: auto;
	padding: 0 5rem;
	max-width: 80rem;
}

#head1 {
	justify-content: space-between;
	align-items: center;
}

/* #head1 h1 {
	font-size: 3rem;
} */

#head2 {
	justify-content: center;
	gap: 30px;
}

#article-body {
	display: flex;
}

.article {
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.article:nth-child(2) {
	flex: 2
}

.article img {
	max-width: 308px;
	min-height: 308px;
}

.article:nth-child(2) img {
	max-width: 308px;
	min-height: 421px;
}

.img-credit {
	margin: 0;
	align-self: flex-start;
}

th {
	border-left: solid 1px lightgray;
	text-align: left;
	padding: 1rem;
}